@if (!isOverlay) {
  <ion-content fullscreen>
    <div class="ticket-screen">
      <ng-container *ngTemplateOutlet="ticketContent"></ng-container>
    </div>
  </ion-content>
} @else {
  <ng-container *ngTemplateOutlet="ticketContent"></ng-container>
}

<ng-template #ticketContent>
  <!-- TITLE -->
  <div class="title">
    Your bus ticket for {{bus}} bus is ready!
  </div>

  <div class="sub-title">
    You can view your ticket details below.
  </div>

  <!-- PAPER TICKET -->
  <div class="paper-container">

    <img
      src="assets/paper-ticket.png"
      alt="Ticket"
      class="paper-image"
      onerror="this.src='assets/images/start_journey_ticket.webp'">

    <div class="paper-side-text left-paper-side">CHENNAI MTC, CHENNAI MTC, CHENNAI MTC, CHENNAI MTC, CHENNAI MTC, CHENNAI MTC, CHENNAI</div>
    <div class="paper-side-text right-paper-side">CHENNAI MTC, CHENNAI MTC, CHENNAI MTC, CHENNAI MTC, CHENNAI MTC, CHENNAI MTC, CHENNAI</div>

    <div class="paper-content">
      
      <!-- HEADER GROUP -->
      <div class="ticket-header-group">
        <b class="company-name font-anek-tamil">மா. போ. க. (சென்னை)</b>
        <div class="header-source">{{source}}</div>
        
        <div class="ticket-header">
          <div>T No: {{ticketNo}}</div>
          <div>{{date}}</div>
          <div>{{time}}</div>
        </div>
      </div>

      <!-- ROUTE & FARE CONTAINER WITH BORDERS -->
      <div class="ticket-middle-section">
        <!-- ROUTE GROUP -->
        <div class="route-section">
          <div class="source">{{source}}</div>
          <div class="destination">{{destination}}</div>
        </div>

        <!-- FARE GROUP -->
        <div class="fare-section">
          Ad: {{persons}} x {{formattedAmount}} = Rs. {{totalAmount}}
        </div>
      </div>

      <!-- BOTTOM GROUP -->
      <div class="ticket-bottom-group">
        <!-- TOTAL GROUP -->
        <div class="total-price font-anek-tamil">
          ரூ. {{totalAmount}}
        </div>

        <!-- FOOTER GROUP -->
        <div class="ticket-footer-group font-anek-tamil">
          <div class="tamil-line">மோட்டார் வாகன</div>
          <div class="tamil-line">விதிகளுக்குட்பட்டது</div>
        </div>
      </div>

    </div>

  </div>

  <!-- GO BACK BUTTON -->
  <button class="back-home-btn" (click)="goBack()">
    Go Back
  </button>
</ng-template>